# PostgreSQL
POSTGRES_USER=# Username for PostgreSQL
POSTGRES_PASSWORD=# Password for PostgreSQL
POSTGRES_DB=# Database name for PostgreSQL
POSTGRES_PORT=# Port number for PostgreSQL (default is 5432)