services:
  postgres:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
      POSTGRES_DB: devdb
    ports:
      - '8080:8080'
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
